{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/primary.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <section class="main-section">
      <div class="inner-section">
        <h1>Your Password :</h1>
        <h4>{{password}}</h4>
        <div class="links">
          <a class="home-link" href="{% url 'home' %}">Home</a>
          <a class="about-link" href="{% url 'about' %}">about</a>
        </div>
      </div>
    </section>
  </body>
</html>
